@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.content-container {
    padding: 75px;
}

.col-container:after {
    content: "";
    display: table;
    clear: both;
}

.column-one {
    float: left;
    width: 66.66666%;
    padding: 25px;

}

.column-two {
    float: left;
    width: 33.33333%;
    padding: 25px;
}

.l-font {
    font-size: 15px;
    color: #03071e;
}

.l-font1 {
    font-size: 30px;
    color: #03071e;
}

.xl-font {
    font-size: 40px;
    color: #03071e;
}

.xl-font1 {
    font-size: 20px;
    color: #03071e;
}
.xl-font2 {
    font-size: 20px;
    color: rgb(5, 255, 115);
}

.button {
    border: 5px solid #03071e;
    background-color: transparent;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    color: #03071e;
    font-weight: bold;
    transition: .2s;
}

.button:hover {
    background-color: #03071e;
    color: white;
}

.logoimage{
    float: left;
    width: 33.33333%;
    padding: 25px;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

@media screen and (max-width: 800px) {

    .column-one,
    .column-two {
        width: 100%;
        text-align: center;
    }

    img {
        margin: auto;
    }
}